.caja {
    border: white solid 2px;
    width: 300px;
    height: 300px;
    margin: 20px;

}

.caja.roja {
        background-color: red;

}

.caja.tmno {
    width: 500px;
    height: 500px;
    margin: 20px;
}

.caja.borde{
    border: black solid 2px;
}